body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-window {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.plan-account {
  display:flex;
  flex-direction: column;
}
